

.input-group
%br
  .input-group-addon
    = label_tag :name
  .form-control
    %input#name{:type => "text"}
%br
  .input-group-addon
    = label_tag :gdp
  .form-control
    %input#gdp{:type => "text"}
%br
  .input-group-addon
    = label_tag :tax_take
  .form-control
    %input#taxtake{:type => "text"}
%br
  .input-group-addon
    = label_tag :growth_rate
  .form-control
    %input#growthrate{:type => "text"}
   

%a.btn-3d.blue#revenue-button{:href => "#"} Present Value

%a.btn-3d.red#debt-button{:href => "#"} Current Debt

%a.btn-3d.green#gdp-button{:href => "#"} GDP


/ %input#r1{:max => "12", :min => "1", :step => "1", :type => "range", :value => "10"}/
/ %input#r2{:max => "12", :min => "1", :step => "1", :type => "range", :value => "3"}/
