
/ %br
/ = label_tag :name
/ %input#name{:type => "text"}
/ / = text_field_tag :gdp, id:'gdp'
/ %br
/ = label_tag :gdp
/ %input#gdp{:type => "text"}
/ / = text_field_tag :gdp, id:'gdp'
/ %br
/ = label_tag :tax_take
/ %input#taxtake{:type => "text"}
/ / = text_field_tag :tax_take, id:'tax_take'
/ %br
/ = label_tag :growth_rate
/ %input#growthrate{:type => "text"}
/ / = text_field_tag :growth_rate, id:'growth_rate'
/ %br
/ / %a.button-primary.revenue-button
/ /   Create Circle



/ %a.btn-3d.green{:href => "#"} Present Value


/ %a.btn-3d.red{:href => "#"} Current Debt



%input#r1{:max => "12", :min => "1", :step => "1", :type => "range", :value => "2"}/
%input#r2{:max => "12", :min => "1", :step => "1", :type => "range", :value => "3"}/
%input#r3{:max => "160", :min => "50", :step => "10", :type => "range", :value => "60"}/